## Datetime

This notebook contains my practise while following the lecture 06 about the use of datetime

In [421]:
# First we need to import 'datetime'

import datetime

In [422]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

### Times

Times have attribute for hour, minute, second, and microsecond.

datetime.time(hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)

In [423]:
t=datetime.time(1, 2, 3)

print(t)

01:02:03

In [424]:
print (f'hour  :      {t.hour}')
print (f'minute:      {t.minute}')
print (f'second:      {t.second}')
print (f'microsecond: {t.microsecond}')
print (f'tzinfo:      {t.tzinfo}')

hour  :      1
minute:      2
second:      3
microsecond: 0
tzinfo:      None

In [425]:
# To get the valid range of times in a single day. The min and max class attributes reflect the valid range of times in a single day.
print ('Earliest  :', datetime.time.min)
print ('Latest    :', datetime.time.max)
print ('Resolution:', datetime.time.resolution)

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

In [426]:
# Create a time object with 5 microseconds and 39 minutes
t = datetime.time(microsecond=5, minute=39)
print(t)

00:39:00.000005

### Dates

The date is represented in terms of yesr, month, and day. 
To create a date representing todayâ€™s date using the today() class method.

datetime.date(year, month, day)

In [427]:
today = datetime.date.today()
print (f'today: \n\t {today}')
print (f'ctime: \n\t {today.ctime()}')
print (f'tuple: \n\t {today.timetuple()}')
print (f'ordinal: \n\t {today.toordinal()}')
print (f'Year: \n\t {today.year}')
print (f'Mon: \n\t {today.month}')
print (f'Day: \n\t {today.day}')

today:
	 2024-11-04
ctime:
	 Mon Nov  4 00:00:00 2024
tuple:
	 time.struct_time(tm_year=2024, tm_mon=11, tm_mday=4, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=309, tm_isdst=-1)
ordinal:
	 739194
Year:
	 2024
Mon:
	 11
Day:
	 4

There are also class methods for creating instances from integers (using proleptic Gregorian ordinal values, which starts counting from Jan. 1 of the year 1) or POSIX timestamp values.

The following example illustrates the different value types used by:

fromordinal(): Return the date corresponding to the proleptic Gregorian ordinal, (number of days elapsed from the date 01/Jan/0001)
fromtimestamp(): Return the local date corresponding to the timestamp.

In [428]:
import time

o = 733114
print (f'o = {o} and fromordinal(o) = {datetime.date.fromordinal(o)}')

t = time.time()
print (f't = {t} and fromtimestamp(t) = {datetime.date.fromtimestamp(t)}')

o = 733114 and fromordinal(o) = 2008-03-13
t = 1730760600.230742 and fromtimestamp(t) = 2024-11-04

In [429]:
# To determinate the valid range of date values, we can use the min and max attributes.

print (f'Earliest:   {datetime.date.min}')
print (f'Latest:     {datetime.date.max}')
print (f'Resolution: {datetime.date.resolution}')

# The resolution for dates is whole days, so there is no time component.

Earliest:   0001-01-01
Latest:     9999-12-31
Resolution: 1 day, 0:00:00

In [430]:
# Another way to create new date instances uses the replace() method of an existing date. 
# For example, you can change the year, leaving the day and month alone.

d1 = datetime.date(2022, 7, 5)
print ('d1:', d1)

d2 = d1.replace(year=2023)
print ('d2:', d2)

d1: 2022-07-05
d2: 2023-07-05

### Timedeltas

The timedelta objects represent a duration. It can be used to calculate the difference between two dates or times.

Datetime can perform basic arithmetic on date values via the timedelta class.

    datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

In [431]:
print (f"microseconds: {datetime.timedelta(microseconds=1)}")
print (f"milliseconds: {datetime.timedelta(milliseconds=1)}")
print (f"seconds:      {datetime.timedelta(seconds=1)}")
print (f"minutes:      {datetime.timedelta(minutes=1)}")
print (f"hours:        {datetime.timedelta(hours=1)}")
print (f"days:         {datetime.timedelta(days=1)}")
print (f"weeks:        {datetime.timedelta(weeks=1)}")

microseconds: 0:00:00.000001
milliseconds: 0:00:00.001000
seconds:      0:00:01
minutes:      0:01:00
hours:        1:00:00
days:         1 day, 0:00:00
weeks:        7 days, 0:00:00

### Date Arithmetic

In [432]:
# It represents the date of today

today = datetime.date.today()
print('Today:', today)

Today: 2024-11-04

In [433]:
one_timedelta_day = datetime.timedelta(days=1)
print('One timedelta day:', one_timedelta_day)

One timedelta day: 1 day, 0:00:00

In [434]:
# It represents the date of yesterday

yesterday = today - one_timedelta_day
print('Yesterday:', yesterday)

Yesterday: 2024-11-03

In [435]:
# It represents the date of today tomorrow.

tomorrow = today + one_timedelta_day
print('Tomorrow:', tomorrow)

Tomorrow: 2024-11-05

In [436]:
print('tomorrow - yesterday:', tomorrow - yesterday)
print('yesterday - tomorrow:', yesterday - tomorrow)

tomorrow - yesterday: 2 days, 0:00:00
yesterday - tomorrow: -2 days, 0:00:00

In [437]:
# Breakout: create an arbitrary date object and add five weeks. Print the new date

date = datetime.date.today()
print(date)
new_date = date + datetime.timedelta(weeks=5)
print(new_date)

2024-11-04
2024-12-09

### Comparing Values

In [438]:
# To compare the time

print ('Times:')
t1 = datetime.time(12, 55, 0)
print ('\tt1:', t1)
t2 = datetime.time(13, 5, 0)
print ('\tt2:', t2)
print ('\tt1 < t2:', t1 < t2)

Times:
	t1: 12:55:00
	t2: 13:05:00
	t1 < t2: True

In [439]:
# To compare the dates

print ('Dates:')
d1 = datetime.date.today()
print ('\td1:', d1)
d2 = datetime.date.today() + datetime.timedelta(days=1)
print ('\td2:', d2)
print ('\td1 > d2:', d1 > d2)

Dates:
	d1: 2024-11-04
	d2: 2024-11-05
	d1 > d2: False

### Combining Dates and Times:  datetime Class

In [440]:
print(f'Now:     {datetime.datetime.now()}')
print(f'Today:   {datetime.datetime.today()}')
print(f'UTC Now: {datetime.datetime.utcnow()}')

Now:     2024-11-04 22:50:00.324666
Today:   2024-11-04 22:50:00.324763
UTC Now: 2024-11-04 22:50:00.324786

In [441]:
d = datetime.datetime.now()
for attr in [ 'year', 'month', 'day', 'hour', 'minute', 'second', 'microsecond']:
    print(f"{attr}: {getattr(d, attr)}")

year: 2024
month: 11
day: 4
hour: 22
minute: 50
second: 0
microsecond: 329260

In [442]:
NOW = datetime.datetime.now()
 
print(f"Current date & time =         {NOW}")
print(f"Date and time in ISO format = {NOW.isoformat()}")
print(f"Current year =                {NOW.year}")
print(f"Current month =               {NOW.month}")
print(f"Current date (day) =          {NOW.day}")
print(f"dd/mm/yyyy format =           {NOW.day}/{NOW.month}/{NOW.year}")
print(f"Current hour =                {NOW.hour}")
print(f"Current minute =              {NOW.minute}")
print(f"Current second =              {NOW.second}")
print(f"hh:mm:ss format =             {NOW.hour}:{NOW.month}:{NOW.second}")

Current date & time =         2024-11-04 22:50:00.334451
Date and time in ISO format = 2024-11-04T22:50:00.334451
Current year =                2024
Current month =               11
Current date (day) =          4
dd/mm/yyyy format =           4/11/2024
Current hour =                22
Current minute =              50
Current second =              0
hh:mm:ss format =             22:11:0

In [443]:
# combine() method to create a new datetime object from a date and a time.

t = datetime.time(1, 2, 3)
print ('t :', t)

d = datetime.date.today()
print ('d :', d)

dt = datetime.datetime.combine(d, t)
print ('dt:', dt)

t : 01:02:03
d : 2024-11-04
dt: 2024-11-04 01:02:03

### Formating and Parsing

The datetime object uses the format YYYY-MM-DDTHH:MM:SS.mmmmmm

Other format that can be done using sstrftime() function. If the input data includes timestamp values parsable with time.strptime(), then datetime.strptime() is a convenient way to convert them to datetime instances.

#### Formatting

In [444]:
# Weekday Month Day Hour:Minute:Second Year

format = "%a %d %b %H:%M:%S %Y"

today = datetime.datetime.today()
print (f'ISO: {today}')

s = today.strftime(format)
print (f'strftime: {s}')

ISO: 2024-11-04 22:50:00.344981
strftime: Mon 04 Nov 22:50:00 2024

In [445]:
# Obtain the time in HH:MM:SS

print(today.strftime("%X"))

22:50:00

In [446]:
# Obtain the hour with 12 hours time

print(today.strftime("%I"))

10

In [447]:
# Obtain AM or PM

print(today.strftime("%p"))

PM

In [448]:
# %c - local date and time, %x-local's date, %X- local's time

print(f'Date and Time = {today.strftime("%c")}')
print(f'Date =          {today.strftime("%x")}')
print(f'Time =          {today.strftime("%X")}')

Date and Time = Mon Nov  4 22:50:00 2024
Date =          11/04/24
Time =          22:50:00

In [449]:
# %I/%H - 12/24 Hour, %M - minute, %S - second, %p - local's AM/PM

print(f"Time = {today.strftime('%I:%M:%S %p')}") # 12-Hour:Minute:Second:AM
print(f"Hour:Minutes = {today.strftime('%H:%M')}") # 24-Hour:Minute

Time = 10:50:00 PM
Hour:Minutes = 22:50

#### Parsing

If the format of a string is known, it can be easily parsed to a datetime object using strptime.

In [450]:
datetime_str = 'Sep 19 2020 2:42PM'
datetime_fmt = '%b %d %Y %I:%M%p'
datetime_obj = datetime.datetime.strptime(datetime_str, datetime_fmt)

print('Date:        ', datetime_obj.date())
print('Time:        ', datetime_obj.time())
print('Date-time:   ', datetime_obj)

Date:         2020-09-19
Time:         14:42:00
Date-time:    2020-09-19 14:42:00

In [451]:
print('String date: ', datetime_obj.strftime(datetime_fmt))

String date:  Sep 19 2020 02:42PM

#### Some practise exercises

In [452]:
# Write a function (named number_days_between) that:
# Takes two arguments that are 8-digit integers of the form YYYYMMDD (actually a date), and
# Returns the number of days between the two dates.

def number_days_between(date1, date2):
    date_format = "%Y%m%d"
    dt_date1 = datetime.datetime.strptime(str(date1), date_format)
    dt_date2 = datetime.datetime.strptime(str(date2), date_format)
    
    if dt_date1 < dt_date2:
        return (dt_date2-dt_date1).days
    else:
        return (dt_date1-dt_date2).days
    
date1 = 20220721
date2 = 20221124
print(f"The number of days between {date1} and {date2}: {number_days_between(date1, date2)}")

date1 = 20200721
date2 = 20101124
print(f"The number of days between {date1} and {date2}: {number_days_between(date1, date2)}")

The number of days between 20220721 and 20221124: 126
The number of days between 20200721 and 20101124: 3527

In [453]:
# On July 16, 1969, the huge, 363-feet tall Saturn V rocket launches on the Apollo 11 mission from Pad A, Launch Complex 39, Kennedy Space Center, at 9:32 a.m. EDT. 
# Write a Python program the computes (from now) the number of:
# Years, Months, Days, Hours, Minutes, Seconds
# since the launch.

current_date = datetime.datetime.now()
launch_date = datetime.datetime(1969, 7, 16, 9, 32)
duration = current_date - launch_date

duration_in_s = duration.total_seconds()
years = divmod(duration_in_s, 31536000)[0]  # Seconds in a year=365*24*60*60 = 31536000
days  = divmod(duration_in_s, 86400)[0]     # Seconds in a day = 86400
hours = divmod(duration_in_s, 3600)[0]      # Seconds in an hour = 3600
minutes = divmod(duration_in_s, 60)[0]      # Seconds in a minute = 60

print(f"Number of Years:   {years}")
print(f"Number of Weeks:   {days/7}")
print(f"Number of Days:    {days}")
print(f"Number of Hours:   {hours}")
print(f"Number of Minutes: {minutes}")
print(f"Number of Seconds: {duration_in_s}")

Number of Years:   55.0
Number of Weeks:   2885.714285714286
Number of Days:    20200.0
Number of Hours:   484813.0
Number of Minutes: 29088798.0
Number of Seconds: 1745327880.428337