## Programming for Data Analytics Big Project

*******************

##### Author: Jennifer Ibanez Cano

##### Module: PFDA, ATU course 24/25
##### Lecture: Andrew Beatty 

*****************

##### Description

This notebook contains my work performing data analysis on a data. For this project I'll be using a data set from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/dataset/863/maternal+health+risk), that I found very interesting. 

This dataset has been collected from different hospitals, community clinics, maternal health cares from the rural areas of Bangladesh through the IoT based risk monitoring system.

*********

##### Analyzing the data

In [3]:
# First I'll import the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
# Read the data from the csv file

df = pd.read_csv('data/Maternal Health Risk Data Set.csv')

df.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [6]:
# Check the list of the columns in the dataset.

list(df.columns)

['Age',
 'SystolicBP',
 'DiastolicBP',
 'BS',
 'BodyTemp',
 'HeartRate',
 'RiskLevel']

The dataset contains 7 variables: Age, Systolic Blood Pressure as SystolicBP, Diastolic BP as DiastolicBP, Blood Sugar as BS, Body Temperature as BodyTemp, HeartRate and RiskLevel. All this variable are factors that can be responsible and as a significant risk factors for maternal mortality.

In [7]:
# Looking at the length of the dataset

print('Data length:', len(df), 'entries.')

Data length: 1014 entries.

In [8]:
df.describe()

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate
count,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000
mean,29.871795,113.198225,76.460552,8.725986,98.665089,74.301775
std,13.474386,18.403913,13.885796,3.293532,1.371384,8.088702
min,10.000000,70.000000,49.000000,6.000000,98.000000,7.000000
25%,19.000000,100.000000,65.000000,6.900000,98.000000,70.000000
50%,26.000000,120.000000,80.000000,7.500000,98.000000,76.000000
75%,39.000000,120.000000,90.000000,8.000000,98.000000,80.000000
max,70.000000,160.000000,100.000000,19.000000,103.000000,90.000000

In [9]:
# Applying dropna() to remove any missing values in the dataset

df = df.dropna()

************
##### References

******

End