### Knock airport Weather

This notebook contains the assignment 6 (assignment_6_Weather) of the Lecture 6 of the module Programming for Data Analytics. 

Author: Jennifer Ibanez Cano

In this notebook I'll analyze the data related with the Knock Airport weather. 

Using this [dataset](https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv).

The first part of the assignment consist to plot:
- The temperature.
- The mean temperature each day.
- The mean temperature for each month. 

The second part of the assigment consist to plot:
- The Windspeed.
- The rolling windspeed (over 24 hours).
- The max windspeed for each day.
- The monthly mean of the daily max windspeeds.

In [40]:
# First I'll need to import the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
# Get the data. 

df = pd.read_csv('https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv', skiprows=22)
df

/var/folders/04/rjtnj1kd1_xd5wl0szndnmt80000gn/T/ipykernel_7577/126776031.py:3: DtypeWarning: Columns (2,10,12,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv', skiprows=22)

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,...,0,0,0,0,25,81,0.0,35000,32,5
1,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
2,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7
3,31-jul-1996 10:00,0,0.0,0,12.9,0,11.3,9.8,0.0,0,...,0,0,0,0,25,82,0.0,28000,35,6
4,31-jul-1996 11:00,0,0.0,0,14.5,0,10.8,7.0,0.0,0,...,0,0,0,0,2,11,0.0,40000,40,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247669,31-oct-2024 20:00,0,0.2,0,10.1,0,10.1,10.1,12.4,100,...,2,5,2,220,,,0.0,,0,8
247670,31-oct-2024 21:00,0,0.1,0,10.1,0,10.1,10.0,12.4,100,...,2,5,2,230,,,0.0,,0,8
247671,31-oct-2024 22:00,0,0.0,0,10.0,0,10.0,10.0,12.3,100,...,2,4,2,210,,,0.0,,0,8
247672,31-oct-2024 23:00,0,0.1,0,9.8,0,9.8,9.8,12.1,100,...,2,6,2,200,,,0.0,,0,8
247673,01-nov-2024 00:00,0,0.0,0,9.7,0,9.6,9.6,11.9,99,...,2,6,2,210,,,0.0,,0,8

In [42]:
# Applying dropna() to remove possible NaN values, 

df = df.dropna()

In [43]:
df.dtypes

date      object
ind        int64
rain      object
ind.1      int64
temp     float64
ind.2      int64
wetb     float64
dewpt    float64
vappr    float64
rhum       int64
msl       object
ind.3      int64
wdsp      object
ind.4      int64
wddir     object
ww        object
w         object
sun      float64
vis       object
clht      object
clamt     object
dtype: object

In [ ]:
# Getting the data related to the temperature and the date.

df[['date', 'temp']]

                     date  temp
0       10-apr-1996 14:00  11.5
1       31-jul-1996 08:00  11.5
2       31-jul-1996 09:00  11.6
3       31-jul-1996 10:00  12.9
4       31-jul-1996 11:00  14.5
...                   ...   ...
247669  31-oct-2024 20:00  10.1
247670  31-oct-2024 21:00  10.1
247671  31-oct-2024 22:00  10.0
247672  31-oct-2024 23:00   9.8
247673  01-nov-2024 00:00   9.7

[247674 rows x 2 columns]